@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

// Mixin

@mixin flex-box($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction; 
    justify-content: $justify;
    align-items: $align;
}

@mixin formation-shadow {
    filter: drop-shadow(2px 2px 2px var(--white));
}

@mixin button-style ($background: var(--blue)){
    border-style: none;
    border-radius: 5px;
    background-color: $background;
    color: var(--white);
    padding: 5px 20px;
    font-size: 14px;
    &:hover {
        background-color: var(--beige);
        color: var(--black);
    }
}

@mixin player-card {
    margin: 10px auto;
    width: 80%;
    @include flex-box();
    img {
        width: 30%;
        border-radius: 20px;
    }
    div {
        padding: 20px;
        width: 70%;
    }
}

// Body or General

:root {
    --black: #1B2430;
    --white: #FFFFFF;
    --blue: #25316D;
    --beige: #D6D5A8;
    --red: #EF4B4B;
    --yellow: #FFCB42;
    --green: #6EC080;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    user-select: none;
}

body, input, textarea, button {
    font-size: 14px;
    font-family: 'Iceberg', cursive;
}

.container {
    @include flex-box($direction: column);
}

header, main, footer {
    margin: 20px 0;
}

title-field, dialog-box, formation-field, chosen-formation, line-up-field, line-up-item, player-search-field, player-search-list, player-search-item, chosen-player-field, chosen-player-list, chosen-player-item, modal-all-player, copyright-field {
    display: block;
}

formation-field, chosen-formation, line-up-field, player-search-field, chosen-player-field {
    margin-bottom: 80px;
}

button, .button, .player-position{
    cursor: pointer;
}

line-up-item, chosen-player-item, player-search-item {
    @include player-card();
}

// Header

.logo {
    width: 100%;
}

// Main

// Dialog Box

.create-new {
    @include button-style($background: var(--green));
}

.continue {
    @include button-style($background: var(--red));
}

// Formation Field

.choose-formation-field {
    @include flex-box();
    margin: auto;
}

.formation-image {
    width: 20%;
    @include formation-shadow();
}

.showed {
    margin: 0 5px;
    width: 35%;
}

.left-button, .right-button {
    width: 15%;
    filter: invert(70%);
}

.left-button:hover, .right-button:hover {
    filter: invert(100%);
}

.choose-formation {
    @include button-style();
}

// Chosen Formation

.chosen-formation-image {
    width: 50%;
    @include formation-shadow();
}

line-up-field {
    width: 100%;
    overflow-x: scrollx;
    flex-wrap: wrap;
}

.change-formation {
    @include button-style();
}

// line Up Field 

.select-starting {
    @include button-style($background: var(--green));
}

.go-to-bench {
    @include button-style($background: var(--yellow));
}

// Chosen Player Field

.remove-player {
    @include button-style($background: var(--red));
}

// Player Search Field

.submit-player-name {
    @include button-style();
}

.invalid-character-alert {
    color: var(--red);
}

player-search-list {
    margin-top: 30px;
}

.select-player {
    @include button-style($background: var(--green))
}

// Modal All Player 

modal-all-player {
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    @include flex-box($direction: column);
    border-radius: 10px;
    div {
        border: 1px solid var(--yellow);
        width: 100%;
        padding: 20px;
    }
}

.modal-player-list {
    width: 100%;
    border-spacing: 8px;
}

.line-up-in {
    @include button-style($background: var(--green));
}

.exit-modal {
    @include button-style($background: var(--red));
}

// Media Query

@media (min-width: 576px) { 
    body, input, textarea, button {
        font-size: 14px;
    }

    line-up-item, chosen-player-item, player-search-item {
        width: 60%;
    }

    .chosen-formation-image {
        width: 35%;
    }
}

@media (min-width: 768px) {
    body, input, textarea, button {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 18px;
    }

    player-search-list, chosen-player-list, .starting-list {
        @include flex-box();
        flex-wrap: wrap;
    }

    line-up-item, chosen-player-item, player-search-item {
        width: 40%;
    }

    title-field {
        h1 {
            font-size: 24px;
        }
        p {
            font-size: 16px;
        }
    }

    .formation-image {
        width: 15%;
    }

    .showed {
        width: 20%;
        margin: 0 1em;
    }

    .left-button, .right-button {
        width: 4em;
    }
    
    dialog-box {
        display: grid;
        grid-template-columns: auto auto;
        .image {
            grid-row-end: span 2;
        }
        .chosen-formation-image {
            width: 50%;
        }
    }
}

@media (min-width: 1200px) {
    line-up-item, chosen-player-item, player-search-item {
        width: 30%;
    }

    dialog-box {
        .chosen-formation-image {
            width: 60%;
        }
    }

    chosen-formation {
        .chosen-formation-image {
            width: 15%;
        }
    }
}

@media (min-width: 1440px) {
    chosen-formation {
        .chosen-formation-image {
            width: 20%;
        }
    }
}
